.sns32 {
    vertical-align: initial;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(//a.aagag.com/img/icon/sns_fngt.png);
    background-repeat: no-repeat
}

.sns32.facebook {
    background-position-x: 0
}

.sns32.naver {
    background-position-x: -38px
}

.sns32.google {
    background-position-x: -76px
}

.sns32.twitter {
    background-position-x: -114px
}

.sns32.off {
    background-position-y: -38px
}

.sns16 {
    vertical-align: initial;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(//a.aagag.com/img/icon/sns_fngt.png);
    background-repeat: no-repeat;
    background-size: 73px 35px
}

.sns16.facebook {
    background-position-x: 0
}

.sns16.naver {
    background-position-x: -19px
}

.sns16.google {
    background-position-x: -38px
}

.sns16.twitter {
    background-position-x: -57px
}

.sns16.off {
    background-position-y: -19px
}

.sns24 {
    vertical-align: initial;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(//a.aagag.com/img/icon/sns_fngt24.png);
    background-repeat: no-repeat
}

.sns24.facebook {
    background-position-x: 0
}

.sns24.naver {
    background-position-x: -30px
}

.sns24.google {
    background-position-x: -60px
}

.sns24.twitter {
    background-position-x: -90px
}

.sns24.off {
    background-position-y: -30px
}

.sns12 {
    vertical-align: initial;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(//a.aagag.com/img/icon/sns_fngt24.png);
    background-repeat: no-repeat;
    background-size: 57px 27px
}

.sns12.facebook {
    background-position-x: 0
}

.sns12.naver {
    background-position-x: -15px
}

.sns12.google {
    background-position-x: -30px
}

.sns12.twitter {
    background-position-x: -45px
}

.sns12.off {
    background-position-y: -15px
}

.featherlight {
    z-index: 900 !important;
    background: rgba(0, 0, 0, .8) !important
}

.swal2-title {
    line-height: 120% !important
}

#pc .csb::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
    background-color: #eee
}

#pc .csb::-webkit-scrollbar {
    width: 4px;
    background-color: #eee
}

#pc .csb::-webkit-scrollbar-thumb {
    background-color: #555
}

#pc .csb::scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
    background-color: #eee
}

#pc .csb::scrollbar {
    width: 4px;
    background-color: #eee
}

#pc .csb::scrollbar-thumb {
    background-color: #555
}

body.black {
    background-color: #222;
    color: #fff
}

body.black .b_white {
    background-color: #000
}

body.black .aalist a.article {
    border-bottom: 1px solid #292929
}

body.black .aalist .class_title {
    background-color: #54585d
}

body.black .aalist .btmlayer .col span {
    color: #444
}

body.black .aalist a.article.on span, body.black .aalist a.article:visited span {
    color: #444 !important
}

body.black .aalist .btmlayer {
    color: #444
}

body.black .aalist .btmlayer .col.nick {
    background-color: #151515
}

body.black .aalist .btmlayer .col.nick i {
    color: #444
}

body.black a:link, body.black a:active, body.black a:visited {
    color: #cacaca
}

body.black .aalist a.article.on, body.black .aalist a.article:visited {
}

body.black .aalist a.article.on span, body.black .aalist a.article:visited span {
    color: #444 !important
}

body.black #sub_title {
    background-color: #4e5965
}

body.black .paging a {
    background-color: #202020;
    border: 1px solid #404040
}

body.black .paging a.on {
    background-color: #666;
    color: #fff;
    border: 1px solid #999
}

body.black .search_box input {
    background-color: #111;
    color: #999;
    border-color: #555
}

body.black #login_form a.btn {
    color: #000
}

body.black .aalist a.article:hover, body.black .aalist a.article.select {
    background-color: #2b2b2b
}

body.black .aalist a.article.on .roverlay span.cnt, body.black .aalist a.article .roverlay span.cnt {
    background-color: #464646;
    color: #999 !important
}

body.black #c_main h1.title {
    background-color: #111
}

body.black .f_aicon {
    background-position-y: 0
}

body.black .aalist a.article.now {
    background-color: #656a66
}

body.black #c_main #nresponse ul {
    background-color: #222;
    border-color: #3b3b3b
}

body.black #c_main #nresponse .responseCnt {
    background-color: #646464;
    border-color: #a9a9a9
}

body.black #c_main #nresponse .hideresponse {
    background-color: #393939;
    border-color: #696969
}

body.black h4.other span.t {
    background-color: #464b4f
}

body.black #history_list .hsite {
}

body.black h4.other #now_v {
    background-color: #394a3c
}

body.black .swiper-slide {
    background-color: #000
}

body.black .swiper-pagination-bullet {
}

body.black #mList .view .other {
    color: #444
}

body.black .issue-button {
    background-color: #5a6673
}

body.black .msitemenu {
    background-color: #333
}

body.black ul.menu_b {
    background-color: #000
}

body.black ul.menu li a.selected {
    background-color: #5a6673
}

body.black ul.menu {
    background-color: #000;
    border-color: #5a6673
}

body.black .selectbox {
    background-color: #5a6673
}

body.black #listArr .at .tl .mall {
    background-color: #474747;
    border: 1px solid #666
}

body.black #listArr .lprice {
    background-color: #242424
}

body.black #listArr .at {
    border-bottom: 1px solid #292929
}

body.black #add_info {
    background-color: #7a7a7a
}

body.black #recommend_info {
    background-color: #3a3a3a
}

body.black #listArr .at.now {
    background-color: #484848
}

body.black .backg1 {
    background: url(//a.aagag.com/img/la_background2.gif) repeat
}

body.black #nav {
    color: #000
}

body.black #bottom {
    background-color: #222;
    color: #eee
}

body.left #nav {
    left: 5px
}

body.off #nav {
    display: none
}

#pc #nav .close {
    display: none
}

#nav .close {
    background-color: #5d6a77;
    color: #fff;
    padding: 5px 0
}

body.black .icomment .cmt {
    border-color: #525252;
    background-color: #252525
}

body.black #cmt_info {
    border-color: #525252;
    background-color: #3e3d3d
}

body.black .cmt_write {
    border-color: #525252;
    background-color: #3e3d3d
}

body.black .cmt_write .comment textarea {
    background-color: #252525;
    color: #fff
}

body.black #site_response .btn {
    border-color: #525252;
    background-color: #252525
}

#slidewrap .box .disable {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://a.aagag.com/img/write/ibg.gif);
    opacity: .4
}

#slidewrap .box .btns .btn {
    padding: 3px 7px;
    font-size: 120%;
    line-height: 120%;
    display: inline-block;
    border: 2px solid #e6e6e6;
    background-color: #e6e6e6
}

#opt_setting .box {
    position: relative;
    padding: 15px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d1d1d1
}

#opt_setting .box .title {
    background-color: #000;
    color: #fff;
    font-size: 120%;
    line-height: 120%;
    margin: 2px 0;
    padding: 4px 7px;
    display: inline-block
}

#opt_setting .box.red {
    background-color: red
}

#login_user {
    color: #fff;
    background-color: #495464;
    padding: 5px 0 4px 4px
}

#login_user a {
    display: inline-block;
    padding: 3px 7px 2px;
    margin: 0 5px 0 0;
    border-radius: 4px;
    background-color: #606c7c;
    color: #fff
}

#login_user .alert {
    position: relative;
    background-color: #000;
    padding-left: 17px
}

#login_user .alert::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 6px;
    border-radius: 50%;
    background-color: #ccc;
    width: 7px;
    height: 7px
}

#login_user .alert.on::before {
    background-color: #b21016;
    animation: memo_alert .2s ease 10
}

@keyframes memo_alert {
    0% {
        background-color: #b21016
    }
    50% {
        background-color: #10b21b
    }
    100% {
        background-color: #b21016
    }
}

#login_user a.member {
    background-color: #000;
    color: #fff
}

#memo {
    font-family: noto sans kr;
    font-size: 10pt
}

#memo_menu {
    background-color: #eee;
    border: 1px solid #ddd;
    width: 100%
}

#mo #memo_menu {
    border-left: none;
    border-right: none
}

#memo_menu td {
    position: relative;
    vertical-align: middle;
    text-align: center
}

#memo_menu td div {
    cursor: pointer;
    padding: 4px 0;
    border-radius: 4px
}

#memo_menu td.on div {
    background-color: #e1e1e1
}

#memo_menu td span {
    display: block
}

#memo_menu td i {
    position: absolute;
    top: 2px;
    right: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    padding: 2px 5px;
    line-height: 100%;
    font-style: normal;
    font-size: 9pt;
    color: #fff
}

#memo_menu td.disable svg {
    stroke: #ccc
}

#memo_menu td.disable span {
    color: #ccc
}

#memo_notice {
    background-color: #eee;
    border: 1px solid #ddd;
    border-top: none;
    width: 100%
}

#memo_notice td {
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 8px 0
}

#memo_notice td.on {
    background-color: #e1e1e1
}

#memo_result {
    position: relative;
    overflow: hidden;
    width: 300px
}

#pc #memo_result {
    height: 250px
}

#mo #memo_result {
    position: absolute;
    z-index: 150
}

#memo_result .submenu {
    margin: 0
}

#memo_list {
    position: absolute;
    overflow-y: scroll;
    height: 250px;
    border-top: none;
    -webkit-animation: memo_down .4s ease 1;
    -moz-animation: memo_down .4s ease 1;
    animation: memo_down .4s ease 1;
    width: 100%;
    top: 0;
    z-index: 999999;
    background-color: #f1f1f1
}

#mo #memo_list {
    border-bottom: 3px solid #000;
    position: relative
}

@-webkit-keyframes memo_down {
    0% {
        top: -250px
    }
    100% {
        top: 0
    }
}

@-moz-keyframes memo_down {
    0% {
        top: -250px
    }
    100% {
        top: 0
    }
}

@keyframes memo_down {
    0% {
        top: -250px
    }
    100% {
        top: 0
    }
}

#memo_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}

#memo_list li {
    position: relative;
    border-top: 1px dashed #ccc;
    display: block;
    padding: 9px 0 8px 5px;
    border-left: 5px solid #e15858;
    background-color: #fff
}

#memo_list li i.b {
    background-color: #555;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    padding: 1px 4px;
    margin-right: 3px;
    font-style: normal;
    font-size: 8pt
}

#memo_list li i.b.alert {
    background-color: red
}

#memo_list li i.b.art {
    background-color: #7d91be
}

#memo_list li i.b.cmt {
    background-color: #7dbe94
}

#memo_list li:first-child {
    border-top: none
}

#memo_list li.start {
    border-top: 3px dashed #ccc;
    border-bottom: 3px dashed #ccc;
    padding: 7px 0;
    text-align: center;
    background-color: #d7d7d7
}

#memo_list li.end {
    border-top: 3px dashed #ccc;
    border-bottom: 3px dashed #ccc;
    padding: 7px 0;
    text-align: center;
    background-color: #d7d7d7
}

#memo_list li.read {
    border-left-color: #d4d4d4
}

#memo_list li.read .title {
    color: #aaa
}

#memo_list li.read .b {
    background-color: #d4d4d4 !important
}

#memo_list li.read . {
    color: #ddd
}

#memo_list li .title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10pt;
    cursor: pointer
}

#memo_list li .content {
    display: none;
    color: #999;
    font-size: 9pt;
    overflow: hidden;
    word-break: break-all;
    margin-top: 4px
}

#memo_list li .content .cmt, #memo_list li .content .reply {
    display: block;
    margin: 2px 3px;
    padding: 5px 4px;
    word-break: break-all;
    word-wrap: break-word;
    width: 265px;
    background-color: #f9f9f9;
    border: 1px dashed #ccc
}

#memo_list li .content .cmt {
}

#memo_list li .content .reply {
    margin-left: 20px;
    width: 248px;
    position: relative
}

#memo_list li .content .reply::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -16px;
    width: 12px;
    height: 9px;
    background-size: 12px 9px;
    background-repeat: no-repeat;
    background-image: url(https://a.aagag.com/img/reply.gif)
}

#memo_list li .content.min {
    padding: 5px 0 0 5px
}

#memo_list li .content.min::before {
    content: "- "
}

#memo_list li.on .content {
    display: block
}

#memo_list li .btn {
    position: absolute;
    top: 4px;
    right: 0;
    background-color: #999;
    color: #fff;
    text-align: center;
    padding: 2px 2px 2px 6px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    cursor: pointer;
    font-size: 9pt
}

#memo_list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
    background-color: #eee
}

#memo_list::-webkit-scrollbar {
    width: 4px;
    background-color: #eee
}

#memo_list::-webkit-scrollbar-thumb {
    background-color: #555
}

#memo_list::scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
    background-color: #eee
}

#memo_list::scrollbar {
    width: 4px;
    background-color: #eee
}

#memo_list::scrollbar-thumb {
    background-color: #555
}

.alink {
    cursor: pointer;
    display: inline-block;
    max-width: 400px;
    overflow: hidden;
    background-color: rgba(146, 146, 146, .3);
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
    padding-right: 5px;
    line-height: 110%
}

.alink::before {
    content: "LINK";
    width: 27px;
    display: inline-block;
    background-color: #525c6c;
    padding: 3px 5px;
    margin-right: 4px;
    color: #fff !important
}

.alink:hover {
    background-color: #5890e1;
    color: #fff
}

.f_aicon {
    background-image: url(https://a.aagag.com/img/aa_list_icon.png);
    width: 11px;
    height: 11px;
    background-size: auto 22px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position-y: -11px
}

.f_aicon.on {
    background-position-y: -11px
}

.f_aicon.clock {
    background-position-x: -11px
}

.f_aicon.navit {
    background-position-x: -22px
}

.article .f_aicon {
    margin-right: 1px
}

#login_form {
    border-radius: 4px;
    padding: 8px 4px 8px 8px
}

#login_form.m {
    display: none
}

#login_form .btn {
    background-color: #fff;
    font-size: 10pt;
    margin: 2px 4px 2px 0;
    padding: 3px 7px;
    border: 1px solid #b2bdc8;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer
}

#login_form .btn.disable {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .3
}

#login_form #autologin_btn .dot {
    border: 1px solid #b2bdc8;
    border-radius: 4px;
    width: 5px;
    height: 5px;
    margin: 0 2px 1px 0;
    display: inline-block
}

#login_form #autologin_btn.on .dot {
    background-color: #b2bdc8
}

#login_form .sns12 {
    margin: 0 2px 0 0
}

#login_form .l_idpw {
    border: 1px solid #b2bdc8;
    width: 200px;
    height: 50px;
    float: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

#login_form.m .l_idpw {
    width: 175px
}

#login_form .l_idpw .id {
    height: 24px
}

#login_form .l_idpw .pw {
    border-top: 1px solid #b2bdc8;
    height: 24px
}

#login_form .l_idpw input {
    border: 0;
    width: 195px;
    height: 24px;
    padding-left: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

#login_form .l_submit {
    border: 1px solid #b2bdc8;
    background-color: #b2bdc8;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 84px;
    height: 50px;
    float: left
}

#login_form .l_submit .submit {
    border: 0;
    background-color: #b2bdc8;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    width: 84px;
    height: 50px;
    cursor: pointer
}

.backg1 {
    background: url(//a.aagag.com/img/la_background1.gif) repeat
}

.la300250 {
    width: 300px;
    height: 251px
}

.la336250 {
    width: 336px;
    height: 250px
}

.la336280 {
    width: 336px;
    height: 280px
}

.la {
    margin: 0 auto;
    overflow: hidden
}

.la72890 {
    width: 728px;
    height: 90px
}

.la97090 {
    width: 970px;
    height: 90px
}

.la32050 {
    width: 320px;
    height: 50px
}

.la320100 {
    width: 320px;
    height: 100px
}

.las160x600 {
    position: absolute;
    width: 160px;
    height: 600px;
    left: 50%;
    margin-left: -740px;
    margin-top: 5px
}

.la300680 {
    overflow: hidden;
    width: 300px;
    height: 680px;
    background-color: #fff;
    border-radius: 4px
}

.la300500 {
    width: 300px;
    height: 505px
}

.laa150 {
    overflow: hidden;
    max-height: 150px
}

.submenu {
    margin: 0 5px 5px
}

.submenu.back {
    border-radius: 5px;
    background-color: #fff
}

.submenu .subject {
    background-color: #556270;
    color: #fff;
    font-size: 12pt;
    display: block;
    padding: 5px 10px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.submenu.hide .subject {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.submenu .subject .cc {
    color: #ccc;
    font-size: 8pt;
    margin: 0 0 0 6px
}

.submenu.hide .more {
    display: none
}

.submenu.hide .content {
    display: none
}

.submenu .subject .btn {
    color: #d9e2eb;
    font-size: 10pt;
    float: right;
    cursor: pointer
}

.submenu .more {
    font-size: 10pt;
    color: #d9e2eb;
    padding: 2px 10px 4px;
    background-color: #556270
}

.submenu .white {
    background-color: #fff
}

.submenu .end {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.submenu.mode2 ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.submenu.mode2 ul li {
    padding: 2px 0 1px;
    margin: 0 5px;
    border-bottom: 1px solid #ccc
}

.submenu.mode2 ul a.ccmt {
    font-size: 9pt;
    display: block;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.submenu.mode2 ul .minfo {
    font-size: 8pt;
    color: #ccc
}

.submenu.mode2 ul span.date {
}

.submenu.mode2 ul a.stitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 120px;
    text-align: right;
    float: right
}

ul.menu_b {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    padding: 2px;
    margin: 0
}

ul.menu_b li {
    float: left
}

ul.menu_b li a {
    padding: 3px 6px 2px;
    display: inline-block;
    margin: 1px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer
}

ul.menu_b li a.disable {
    color: #ccc
}

ul.menu {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #b2bdc8;
    border-radius: 4px;
    display: inline-block
}

ul.menu li {
    float: left
}

ul.menu li a {
    padding: 3px 6px 2px;
    display: inline-block
}

ul.menu li a.selected {
    background-color: #b2bdc8;
    color: #fff
}

#search_submenu {
}

#search_submenu .content {
    padding: 4px
}

#search_submenu table {
    width: 100%
}

#search_submenu table td {
    height: 26px;
    padding: 0 3px 3px 0
}

#search_submenu td.word {
    padding-right: 5px
}

#search_submenu td.enter {
    width: 80px
}

#search_submenu td.delete {
    width: 25px;
    padding-right: 0
}

.search_history input {
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 4px
}

#search_submenu input.word {
    border: 1px solid #98a5b3
}

#search_submenu input.enter {
    background-color: #556270;
    color: #fff;
    cursor: pointer
}

#search_submenu input.delete {
    background-color: #556270;
    color: #fff;
    cursor: pointer
}

#search_submenu .word_area .title {
    font-size: 9pt;
    color: #465d73
}

#search_submenu .word_area a {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #98a5b3;
    margin: 0 2px 2px 0;
    padding: 1px 5px 2px;
    font-size: 10pt;
    color: #556270
}

.explain .tip {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 2px 3px;
    margin: 0 0 3px;
    cursor: pointer
}

.ssubmenu {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px
}

.ssubmenu a {
    display: inline-block;
    font-size: 12pt;
    padding: 4px 7px 3px
}

.multi_area tr.now {
    background-color: #ffe3dd
}

.multi_area tr.on .thumb {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5
}

.multi_area tr .view a:visited {
    color: #ccc
}

.multi_area tr .view .title {
    cursor: pointer
}

.multi_area tr.on .view .title {
    color: #ccc
}

.multi_area tr.on .view .aa_other_info {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5
}

.multi_area tr.on .view {
}

.multi_area tr.on.hover .view {
}

#bottom {
    font-size: 9pt;
    padding: 10px 0 20px;
    background-color: #fff;
    clear: both;
    border-top: 5px solid #e8e8e9
}

#bottom #copyright {
}

#c_main {
    font-size: 9pt;
    overflow: hidden
}

.paging {
    width: 100%;
    margin: 14px 0
}

.paging a {
    font-family: helvetica, trebuchet ms, Verdana, Dotum, AppleGothic, sans-serif;
    font-size: 11pt;
    margin: 2px;
    padding: 7px 6px 7px 7px;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block
}

.paging a.on {
    background-color: #666;
    color: #fff;
    border: 1px solid #000
}

.paging .number {
    position: relative !important;
    padding: auto
}

.paging .prev {
}

.paging .next {
}

#search_list {
    background-color: #f1f1f1;
    padding: 7px 0 7px 5px;
    font-size: 10pt;
    border-bottom: 2px solid #5d6a77
}

#search_list .word {
    color: #00f;
    font-weight: 700;
    font-size: 14pt
}

#search_list .reset {
    margin: 0 0 0 5px;
    font-size: 8pt;
    color: #999;
    cursor: pointer
}

.content_error {
    width: 100%;
    background-color: #fff
}

.content_error table {
    width: 100%
}

.content_error input, .content_error textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 3px 0;
    margin: 0;
    border-radius: 4px
}

.content_error input.button {
    background-color: #8abeb7;
    border: 1px solid #8abeb7;
    color: #fff
}

.content_error input.button.disable {
    background-color: #ccc
}

.content_error .disable {
    background-color: #ddd
}

.mwarp {
    position: absolute;
    overflow: hidden;
    z-index: 100
}

.mwarp.f095 {
    background-color: #f1f1f1;
    opacity: .95
}

.mwarp.squares_loading {
    background-image: url(//a.aagag.com/img/loading/squares_140x140.gif);
    background-repeat: no-repeat;
    background-size: 140px 140px;
    background-position: center center
}

.mwarp table {
    width: 100%;
    height: 100%
}

.mwarp.animation {
    opacity: .95
}

.mwarp.animation table {
    width: 100%;
    height: 100%;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    position: relative;
    left: -100%;
    background-color: #f6f7f9
}

.mwarp.animation.on table {
    left: 0
}

.mwarp table .close {
    background-color: #000;
    width: 50px;
    color: #fff;
    text-align: center;
    vertical-align: middle
}

.mwarp table input.txt {
    border-radius: 4px;
    border: 1px solid #4f8ae0;
    color: #000;
    padding: 3px 7px
}

.mwarp table input.button {
    border-radius: 4px;
    border: 0;
    background-color: #4f8ae0;
    color: #fff;
    padding: 3px 7px
}

#cmt {
    width: 100%
}

#cmt .cmtCnt {
    background-color: #495464;
    color: #f4f5f7;
    padding: 3px 35px 1px 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    border-top-right-radius: 4px
}

#cmt ul {
    border-top: 2px solid #495464;
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both
}

#cmt ul.reply0 {
}

#cmt ul.reply1 {
    margin-left: 20px
}

#cmt ul.reply2 {
    margin-left: 40px
}

#cmt ul.reply3 {
    margin-left: 60px
}

#cmt ul .opt {
    background-color: #eceff2;
    position: relative
}

#cmt ul .opt .nick {
    display: inline-block;
    margin: 3px 0 2px 5px;
    line-height: 18px
}

#cmt ul .opt .writer {
    color: red;
    font-size: 8pt;
    margin: 0 0 0 3px
}

#cmt ul .opt .nick img.reply {
    width: 12px;
    height: 9px;
    margin: 0 3px 0 0
}

#cmt ul .opt .nick img {
    vertical-align: middle
}

#cmt ul .opt .sir {
    display: inline-block;
    margin: 3px 0 3px 3px;
    font-size: 8pt;
    color: #495464;
    vertical-align: middle
}

#cmt ul .opt .date {
    margin: 3px 0 2px 5px;
    color: #62748a;
    font-size: 8pt
}

#cmt ul .opt .ip {
    font-size: 8pt;
    color: #ccc
}

#cmt ul .opt .right {
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    vertical-align: middle
}

#cmt ul .opt .right .rep {
    font-size: 8pt;
    display: inline-block;
    margin: 5px 5px 0
}

#cmt ul .opt .right .alert {
    font-size: 8pt;
    display: inline-block;
    margin: 5px 3px 0 0
}

#cmt ul .opt .right .delete {
    font-size: 8pt;
    display: inline-block;
    margin: 5px 3px 0 0;
    color: red
}

#cmt ul .comment {
    padding: 3px 3px 6px 5px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word
}

#cmt ul .comment img {
    max-width: 99%
}

#cmt ul.replyEnd li {
    width: 100%;
    background-color: #ff8080
}

#cmt ul.replyEnd li table {
    width: 100%;
    height: 30px
}

#cmt .firstCmt {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #495464
}

#cmt .redelete {
    background-color: red;
    opacity: .7;
    z-index: 100
}

#c_main h1 {
    padding: 4px 0 3px
}

.aalist .balloon {
    position: absolute;
    background: #f8f8f8;
    border: 1px solid #474f5b;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0 4px;
    top: 0;
    line-height: 150%;
    left: 0;
    color: #555
}

.aalist .balloon:after, .aalist .balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.aalist .balloon:after {
    border-color: transparent;
    border-left-color: #f8f8f8;
    border-width: 4px;
    margin-top: -4px
}

.aalist .balloon:before {
    border-color: transparent;
    border-left-color: #474f5b;
    border-width: 5px;
    margin-top: -5px
}

.aalist.pc {
    width: 415px;
    float: left;
    overflow: hidden
}

.aalist .class_title .right a.no_read {
    display: none
}

#pc .aalist .class_title .right a.no_read {
    display: inline-block;
}

.aalist {
}

.pc .aalist.ml {
    margin-left: 10px
}

.aalist .class_title {
    display: block;
    position: relative;
    background-color: #98a5b3;
    padding: 8px 0 7px 7px;
    border-left: 10px solid #818480;
    font-size: 11pt;
    color: #fff;
    margin: 0 0 1px;
}

.aalist .class_title .right {
    position: absolute;
    right: 0;
    top: 5px
}

.aalist .class_title .right a {
    display: inline-block;
    color: #fff;
    background-color: #7f8fa1;
    text-align: center;
    font-size: 8pt;
    padding: 3px 5px 2px;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.aalist .class_title .right .more {
}

.article.r {
    padding-left: 35px !important
}

.article .rank {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    font-size: 13pt;
    line-height: 165%;
    color: #fff;
    text-align: center;
    display: block;
    vertical-align: middle
}

.article .rank::after {
    font-size: 8pt;
    display: block;
    line-height: 80%;
    color: rgba(255, 255, 255, .4)
}

.aalist .btmlayer .col.date.first {
    padding-left: 5px
}

.aalist .btmlayer .col.date .ago {
    margin-left: 4px
}

.aalist .btmlayer .col.hit.pos {
    position: absolute;
    right: 85px
}

.aalist .btmlayer .col.nick.pos {
    position: absolute;
    right: 3px;
    bottom: 0;
    padding: 5px 5px 3px
}

.aalist .btmlayer .col.nick {
    background-color: #f4f4f4;
    color: #000;
    border-radius: 4px;
    width: 55px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: -1px;
    font-size: 8pt;
    display: inline-block
}

.aalist .btmlayer .col.nick i {
    color: #000;
    font-style: normal
}

.wp .more2 {
    float: right;
    background-color: display: inline-block;
    color: #fff;
    margin: 3px 2px 0 0;
    background-color: #7f8fa1;
    padding: 3px 5px 2px
}

.aalist .more {
    text-align: right
}

.aalist:hover .more span {
    visibility: visible
}

.aalist .more span {
    visibility: hidden;
    display: inline-block;
    padding: 2px 5px 1px;
    background-color: #ccc;
    margin: 2px
}

.aalist ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.aalist a.notice {
    position: relative;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 5px 0 4px
}

.aalist a.notice:hover {
    background-color: #595959
}

.aalist a.notice .balloon {
    position: absolute;
    background: #f8f8f8;
    border: 1px solid #474f5b;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0 4px;
    top: 0;
    line-height: 150%;
    left: 0;
    color: #555
}

.aalist a.article {
    position: relative;
    display: block;
    border-bottom: 1px solid #f5f5f5
}

.aalist a.article:hover, .aalist a.article.select {
    background-color: #e7eef5
}

.article:hover .roverlay .cnt.hid {
    display: inline-block;
    opacity: .95
}

.aalist a.article .title {
    display: block;
    font-size: 10.5pt;
    padding: 5px 5px 2px 4px;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.aalist a.article .cmt {
    font-size: 8pt;
    margin-left: 5px;
    color: #ccc
}

.aalist a.article .new {
}

.aalist a.article .new:after {
    content: "N";
    font-size: 7pt;
    margin-left: 5px;
    color: #cc5440
}

.aalist a.article.on, .aalist a.article:visited {
    color: #ccc
}

.aalist a.article.now {
    background-color: #e7f5eb
}

.aalist a.article span {
    -webkit-touch-callout: none;
    -webkit-touch-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -user-select: none;
    -webkit-tap-highlight-color: transparent
}

.aalist .lpaddingm {
    padding-left: 13px !important
}

.aalist .lpadding {
    padding-left: 26px !important
}

.aalist .loverlay {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    vertical-align: middle
}

.aalist .loverlay.ncnt {
    font-style: normal;
    display: inline-block;
    background-color: #ccc;
    color: #fff !important;
    line-height: 100%;
    padding: 2px 4px 1px 3px;
    top: 7px;
    left: 1px;
    min-width: 14px
}

.aalist .loverlay.rank {
    font-style: normal;
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    height: 100%;
    width: 24px;
    line-height: 165%;
    font-size: 11pt
}

.aalist .loverlay.blank {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    height: 100%;
    width: 8px;
    line-height: 200%
}

.aalist .loverlay.blank.gif {
    background-color: #1c792f
}

.aalist .loverlay.blank.ytb {
    background-color: red
}

.toplayer {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 5px
}

.aaitplist .balloon {
    position: absolute;
    background: #f8f8f8;
    border: 1px solid #474f5b;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0 4px;
    top: 0;
    line-height: 150%;
    left: 0;
    color: #555
}

.aaitplist .balloon:after, .aaitplist .balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.aaitplist .balloon:after {
    border-color: transparent;
    border-left-color: #f8f8f8;
    border-width: 4px;
    margin-top: -4px
}

.aaitplist .balloon:before {
    border-color: transparent;
    border-left-color: #474f5b;
    border-width: 5px;
    margin-top: -5px
}

.aaitplist.pc {
    width: 400px;
    float: left;
    overflow: hidden
}

.aaitplist .class_title {
}

.aaitplist.mo .class_title .right a.no_read {
    display: none
}

.aaitplist {
}

.aaitplist.ml {
    margin-left: 5px
}

.aaitplist.pc .class_title {
    display: block;
    position: relative;
    background-color: #98a5b3;
    padding: 3px 0 2px 5px;
    border-left: 10px solid #818480;
    font-size: 10pt;
    color: #fff;
    margin: 0 0 1px
}

.aaitplist.mo .class_title {
    display: block;
    position: relative;
    padding: 2px 0 2px 5px;
    border-left: 10px solid #818480;
    font-size: 9pt;
    color: #777;
    margin: 0 0 1px
}

.aaitplist .class_title .right {
    position: absolute;
    right: 0;
    top: 5px
}

.aaitplist .class_title .right a {
    display: inline-block;
    color: #fff;
    background-color: #7f8fa1;
    text-align: center;
    font-size: 8pt;
    padding: 3px 5px 2px;
    cursor: pointer;
    margin: 0 5px 0 0
}

.aaitplist .class_title .right .more {
}

.aaitplist .more {
    text-align: right
}

.aaitplist:hover .more span {
    visibility: visible
}

.aaitplist .more span {
    visibility: hidden;
    display: inline-block;
    padding: 2px 5px 1px;
    background-color: #ccc;
    margin: 2px
}

.article.t {
    padding-left: 80px !important
}

.article .thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 80px auto;
    background-position: left center
}

.article .thumb.l {
    background-position: 7px center
}

.article .thumb span {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 2px 3px 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .5
}

.article.c {
    color: #ccc
}

.article.c .thumb {
    filter: gray;
    -webkit-filter: grayscale(100%);
    opacity: .6
}

.article:visited .thumb, .article.on .thumb {
    filter: gray;
    -webkit-filter: grayscale(100%);
    opacity: .6
}

.aaitplist ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.aaitplist a.article {
    position: relative;
    display: block
}

.aaitplist a.article:hover, .aaitplist a.article.select {
    background-color: #e7eef5
}

.article:hover .title {
}

.aaitplist a.article .title {
    display: block;
    font-size: 10pt;
    padding: 4px 5px 3px 4px;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.aaitplist a.article.on, .aaitplist a.article:visited {
    color: #ccc
}

.aaitplist a.article.now {
    background-color: #e7f5eb
}

.aaitplist a.article span {
    -webkit-touch-callout: none;
    -webkit-touch-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -user-select: none;
    -webkit-tap-highlight-color: transparent
}

.aaitplist .lpaddingm {
    padding-left: 13px !important
}

.aaitplist .lpadding {
    padding-left: 26px !important
}

.aaitplist .loverlay {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    vertical-align: middle
}

.aaitplist .loverlay.ncnt {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    line-height: 100%;
    padding: 1px 2px;
    top: 3px;
    left: 1px;
    min-width: 14px
}

.aaitplist .loverlay.rank {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    height: 100%;
    width: 24px;
    line-height: 200%;
    font-size: 11pt
}

.aaitplist .loverlay.blank {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    height: 100%;
    width: 8px;
    line-height: 200%
}

.aaitplist .loverlay.blank.gif {
    background-color: #1c792f
}

.aaitplist .loverlay.blank.ytb {
    background-color: red
}

.aaitplist .roverlay {
    position: absolute;
    top: 1px;
    right: 2px;
    font-size: 8pt
}

.aaitplist .roverlay .cnt {
    display: inline-block;
    color: #afafaf;
    background-color: #f1f1f1;
    padding: 2px 5px;
    margin: 0 0 0 2px;
    opacity: .8
}

.aaitplist .roverlay .cnt.hid {
    display: none
}

#aaLayer {
    width: 100%
}

.aalist.pc {
    width: 415px;
    float: left;
    overflow: hidden
}

.aalist .class_title .right a.no_read {
    display: none
}

.aalist {
}

#pc .aalist.ml {
    margin-left: 10px
}

.aalist .class_title { /* display:block; *//* position:relative; *//* background-color:#98a5b3; *//* padding:8px 0 7px 7px; *//* border-left:10px solid #818480; *//* font-size:11pt; *//* color:#fff; *//* margin:0 0 1px; */
}

.aalist .class_title .right {
    position: absolute;
    right: 0;
    top: 5px
}

.aalist .class_title .right a { /* display:inline-block; */
    color: #fff;
    background-color: #7f8fa1;
    text-align: center;
    font-size: 8pt;
    padding: 3px 5px 2px;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.aalist .class_title .right .more {
}

.aalist .more {
    text-align: right
}

.aalist:hover .more span {
    visibility: visible
}

.aalist .more span {
    visibility: hidden;
    display: inline-block;
    padding: 2px 5px 1px;
    background-color: #ccc;
    margin: 2px
}

.aalist ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.aalist a.article {
    position: relative;
    display: block;
    border-bottom: 1px solid #f4f4f4;
    padding: 0 0 3px
}

.aalist a.article:hover, .aalist a.article.select {
    background-color: #e7eef5
}

.aalist a.article.on span, .aalist a.article:visited span {
    color: #ccc !important
}

.aalist a.article.now {
    background-color: #e7f5eb
}

.aalist .roverlay {
    position: absolute;
    top: 5px;
    right: 2px
}

.aalist .roverlay .cnt {
    display: inline-block;
    color: #afafaf;
    background-color: #f1f1f1;
    padding: 2px 5px;
    margin: 0 0 0 2px
}

.aalist .roverlay .cnt.hid {
    display: none
}

.aalist .btmlayer {
    display: block;
    padding: 2px 0 0
}

.aalist .btmlayer .col {
    display: inline-block
}

.aalist .btmlayer .col.byte {
    min-width: 50px;
    padding: 0 10px 0 4px;
    text-align: right
}

.aalist .btmlayer .col.hit span {
    margin: 0 10px
}

.aalist .btmlayer .col.good {
    width: 50px;
    padding-left: 0
}

.aalist .btmlayer .col.good span {
    padding-left: 10px
}

.aalist .btmlayer .col.time {
    width: auto;
    padding: 0 2px 0 0
}

.aalist .btmlayer .col span.b {
    margin: 0;
    padding: 0;
    font-size: 8pt;
    text-decoration: none
}

.aalist .btmlayer .col.time span {
}

.aalist .btmlayer .col span {
    margin: 2px 0;
    color: #ccc
}

.aalist .btmlayer .col .icon {
    display: inline-block;
    width: 12px;
    margin: 0 1px 0 0
}

.aalist .btmlayer .col .icon svg {
    vertical-align: middle
}

.aalist .btmlayer .col.right {
    float: right
}

.swiper-slide.menu {
}

.swiper-slide.menu.none {
    display: none
}

.search_box {
    width: 250px;
    margin: 0 auto 15px
}

.search_box input {
    width: 100%;
    border: 1px solid #c3c3c3;
    font-size: 10.5pt;
    padding: 5px 0 4px 3px
}

.search_box .btn {
    width: 85px;
    background-color: #495464;
    color: #fff;
    font-size: 10.5pt;
    text-align: center;
    vertical-align: middle;
    cursor: pointer
}

.search_box svg {
    vertical-align: middle
}

.article_action {
    line-height: 100%
}

.article_action a.btn {
    display: inline-block;
    cursor: pointer
}

.article_action a.btn .fa {
    margin: 0 0 0 7px
}

.article_action a.btn .txt {
    display: inline-block;
    font-size: 12pt;
    padding: 5px 7px 5px 3px;
    border
}

.article_action a.btn.like {
    background-color: #b96653;
    color: #fff
}

.article_action a.btn .cnt {
    font-size: 12pt;
    color: #fff
}

@keyframes hover-color {
    from {
        border-color: silver
    }
    to {
        border-color: #8abeb7
    }
}

.magic-radio, .magic-checkbox {
    position: absolute;
    display: none
}

.magic-radio[disabled], .magic-checkbox[disabled] {
    cursor: not-allowed
}

.magic-radio + label, .magic-checkbox + label {
    position: relative;
    display: inline-block;
    padding: 3px 0 0 24px;
    cursor: pointer;
    vertical-align: middle
}

.magic-radio + label:hover:before, .magic-checkbox + label:hover:before {
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: hover-color
}

.magic-radio + label:before, .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: '';
    border: 1px solid silver
}

.magic-radio + label:after, .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''
}

.magic-radio[disabled] + label, .magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4
}

.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after, .magic-checkbox[disabled] + label:hover, .magic-checkbox[disabled] + label:before, .magic-checkbox[disabled] + label:after {
    cursor: not-allowed
}

.magic-radio[disabled] + label:hover:before, .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none
}

.magic-radio[disabled] + label:before, .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4
}

.magic-radio:checked + label:before, .magic-checkbox:checked + label:before {
    animation-name: none
}

.magic-radio:checked + label:after, .magic-checkbox:checked + label:after {
    display: block
}

.magic-radio + label:before {
    border-radius: 50%
}

.magic-radio + label:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #8abeb7
}

.magic-radio:checked + label:before {
    border: 1px solid #8abeb7
}

.magic-radio:checked[disabled] + label:before {
    border: 1px solid #c9e2f9
}

.magic-radio:checked[disabled] + label:after {
    background: #c9e2f9
}

.magic-checkbox + label:before {
    border-radius: 3px
}

.magic-checkbox + label:after {
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0
}

.magic-checkbox:checked + label:before {
    border: #8abeb7;
    background: #8abeb7
}

.magic-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9
}

#listArr {
}

#listArr .at {
    position: relative;
    display: block;
    clear: both;
    height: 40px;
    padding: 0 0 0 80px;
    border-bottom: 1px solid #f1f1f1
}

.mo #listArr .at {
    height: 80px
}

#listArr .at.now {
    background-color: #f1f1f1
}

#listArr .end {
    position: absolute;
    display: block;
    clear: both;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
    background-image: url(https://aagag.com/test/completed-stamp.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center
}

#listArr .lprice {
    position: absolute;
    display: block;
    clear: both;
    bottom: 18px;
    right: 0;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 2px 5px
}

#listArr .lprice .price {
    font-size: 14pt
}

#listArr .at .thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 80px auto;
    background-position: left center
}

#listArr .at .tl {
    padding: 4px 0 0 3px
}

#listArr .at .tl .mall {
    font-size: 10pt;
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 3px;
    margin-right: 2px;
    border: 1px solid #d1d1d1;
    padding: 1px 2px;
    letter-spacing: -1px
}

#listArr .at .tl .title {
    font-size: 10.5pt;
    line-height: 100%
}

.mo #listArr .at {
    line-height: 150%
}

#listArr .at .bl {
    position: absolute;
    bottom: 3px;
    left: 85px
}

#listArr .at .bl .b {
    padding: 0 8px
}

#listArr .at .bl span {
    color: #ccc
}

#listArr .rl {
    position: absolute;
    bottom: 3px;
    right: 0
}

#listArr .rl .sites span {
    border-radius: 3px;
    padding: 1px 3px;
    margin: 0 2px 0 0;
    color: #fff
}

#deal_url a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11pt
}

#deal_url a i.t {
    font-style: normal;
    display: inline-block;
    padding: 4px 5px 3px;
    line-height: 130%;
    border-radius: 4px;
    margin: 0 3px 0 0;
    background-color: #525c6c;
    color: #fff
}

#deal_url a span {
    display: inline-block;
    cursor: pointer;
    line-height: 150%
}

#deal_price a {
    font-size: 12pt;
    border-radius: 4px;
    display: inline-block;
    line-height: 180%
}

#deal_price a.link {
    display: block
}

#deal_price i.t {
    display: inline-block;
    padding: 0 7px 0 5px;
    background-color: #141619;
    color: #fff
}

#recommend_info {
    margin: 4px;
    border: 2px solid #525c6c;
    background-color: #fff;
    padding: 3px;
    border-radius: 4px
}

#recommend_notice {
    display: inline-block;
    padding: 4px 5px 3px;
    line-height: 130%;
    border-radius: 4px;
    margin: 0 0 4px;
    background-color: #525c6c;
    color: #fff;
    font-size: 11pt
}

.rs {
    font-size: 10pt;
    line-height: 160%
}

.rs.de {
    text-decoration: line-through
}

.rs.end::after {
    content: " [종료]";
    color: red
}

.rs.de::after {
    content: " [제거됨]";
    color: red
}

.rs .site {
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    padding: 2px 3px 1px;
    margin: 0 5px 0 0
}

.rs .title {
    cursor: pointer
}

#add_info {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 4px dashed #525c6c;
    border-bottom: 4px dashed #525c6c;
    background-color: #dedede
}

#thumb_image {
    width: 64px;
    position: absolute;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 100
}

#thumb_image .thumb_mini {
    display: block;
    width: 60px;
    height: 60px;
    background-size: 60px auto;
    border: 2px solid #ccc;
    background-repeat: no-repeat;
    margin: 0 0 1px;
    border-radius: 4px
}

#thumb_image .thumb_mini.on {
    border-color: red
}

#deal_layer {
    width: 100%
}

#deal_layer.pc #deal_image {
    width: auto
}

#deal_layer.pc #deal_info {
    width: 192px;
    padding-left: 4px
}

#deal_image {
    text-align: center;
    position: relative;
    width: 100%
}

#deal_image div.loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background-image: url(https://a.aagag.com/img/loading/animal_144x144.gif);
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute
}

#deal_image #thumb_mini {
    background-color: red;
    opacity: .8
}

#deal_image img {
    display: inline-block;
    max-width: calc(100% - 4px);
    min-width: 144px;
    min-height: 144px;
    border: 2px solid #64adb7;
    border-radius: 4px
}

#deal_info {
    vertical-align: top
}

#deal_info div.la {
    width: 90px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    display: inline-block;
    border: 2px solid #64adb7;
    border-radius: 4px;
    position: relative
}

#deal_layer.pc #deal_info div.la {
    margin: 0 0 2px 2px
}

#deal_layer.mo #deal_info div.la {
    margin: 2px 2px 0 0
}

#deal_info div.la span.icon {
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 0;
    width: 100%;
    text-align: center
}

#deal_info div.la span.cen {
    position: absolute;
    display: block;
    top: 60px;
    height: 40px;
    width: 100%;
    font-size: 12pt;
    line-height: 100%
}

#deal_info div.la span.exp {
    position: absolute;
    display: block;
    top: 65px;
    font-size: 8pt;
    background-color: #ccc
}

#deal_info div.la span {
}

#price div {
    margin: 4px;
    border: 2px solid #525c6c;
    background-color: #fff;
    padding: 3px;
    border-radius: 4px;
    display: inline-block
}

#price span {
    font-size: 16pt;
    line-height: 100%
}

#price i {
    font-size: 24pt;
    line-height: 100%
}

#comment_total {
    margin: 5px 0 2px;
    border-bottom: 2px solid #525c6c
}

#comment_total span {
    font-size: 13pt;
    line-height: 100%;
    padding: 4px 7px 3px;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #525c6c
}

#cmt_info {
    font-family: noto sans kr;
    font-size: 10pt;
    position: relative;
    background-color: #ebeeef;
    padding: 7px 0 5px 6px;
    border: 1px solid #dae1e3;
    border-bottom: none;
    margin: 0 3px
}

#cmt_info .total {
}

#cmt_info .total .icon {
    vertical-align: middle
}

#cmt_info .total .text {
    font-size: 12pt;
    margin: 0 2px
}

#cmt_info .total .cnt {
    font-size: 11pt;
    color: #c66
}

#cmt_info .reload {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 7px 6px 0 0;
    text-align: right;
    cursor: pointer
}

#cmt_reply {
}

.cmt_write {
    font-family: noto sans kr;
    font-size: 10pt;
    position: relative;
    background-color: #ebeeef;
    border: 1px solid #dae1e3;
    padding: 10px 7px;
    margin: 0 3px
}

.cmt_write .anonymous {
    margin: 0 0 5px
}

.cmt_write .anonymous .nick {
}

.cmt_write .anonymous .pw {
    margin-left: 5px
}

.cmt_write .anonymous input {
    font-family: noto sans kr;
    width: 126px;
    height: 29px;
    line-height: 29px;
    padding: 1px 7px 0;
    border: 1px solid #cfd8db;
    vertical-align: top;
    font-size: 16px
}

.cmt_write .anonymous input:focus {
    -moz-box-shadow: 0 0 8px #add8e6;
    outline: 0;
    border-color: rgba(82, 168, 236, .8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6)
}

.cmt_write .anonymous .exp {
    margin: 8px 0 0 5px;
    color: #717171;
    vertical-align: top;
    display: inline-block;
    font-size: 9pt
}

.cmt_write .comment {
    position: relative
}

.cmt_write .comment textarea {
    font-family: noto sans kr;
    display: block;
    line-height: 160%;
    padding: 1px 7px 0;
    width: calc(100% - 14px);
    min-height: 30px;
    border: 1px solid #cfd8db;
    font-size: 16px
}

.cmt_write .comment textarea:focus {
    -moz-box-shadow: 0 0 8px #add8e6;
    outline: 0;
    border-color: rgba(82, 168, 236, .8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6)
}

.cmt_write .opt {
    position: relative;
    margin: 5px 0 0
}

.cmt_write .opt .exp {
    vertical-align: top;
    display: inline-block;
    font-size: 9pt
}

.cmt_write .opt .exp.nomember {
    vertical-align: top;
    margin: 7px 0 0
}

.cmt_write .opt .exp.nomember p {
    color: #717171
}

.cmt_write .opt .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

.cmt_write .opt input.visually-hidden:focus + label {
    outline: thin dotted;
    cursor: pointer
}

.cmt_write .opt .btn {
    display: inline-block;
    font-size: 12pt;
    padding: 5px 7px;
    color: #fff;
    line-height: 120%
}

.cmt_write .opt .btn svg {
    vertical-align: bottom;
    margin-right: 2px
}

.cmt_write .opt .upload {
    background-color: #495464;
    cursor: pointer
}

.cmt_write .opt .bupload {
    background-color: #cacaca !important;
    text-decoration: line-through
}

.cmt_write .opt .submit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4f8ae0;
    cursor: pointer
}

.cmt_write .opt .submit.disable {
    background-color: #cacaca !important;
    text-decoration: line-through
}

#site_response {
    position: relative;
    font-family: noto sans kr;
    font-size: 10pt;
    margin: 3px
}

#site_response .btn {
    display: block;
    text-align: center;
    font-weight: 300;
    padding: 10px 0;
    background-color: #f8f8f8;
    border: 1px solid #e9e9e9;
    font-size: 13px;
    cursor: pointer
}

#site_response .btn span {
    font-weight: 700
}

#site_response .btn .red {
    color: red
}

#best_comment.icomment .cmt {
    background-color: rgba(88, 144, 225, .2);
    border: 1px solid rgba(88, 144, 225, 0.4)
}

#best_comment.icomment .cmt .vote {
}

.icomment {
    padding: 3px 3px 0
}

.icomment .cmt {
    position: relative;
    list-style: none;
    font-family: noto sans kr;
    font-weight: 300;
    font-size: 10pt;
    padding: 5px 5px 5px 8px;
    background-color: #f8f8f8;
    border: 1px solid #e9e9e9;
    margin: 0 0 3px
}

.icomment .cmt.me {
    background-color: #f5f8fd;
    border-color: #9cbccc;
    border-left: 5px solid #9cbccc;
    padding-left: 3px
}

.icomment .cmt.bl {
    -webkit-animation: cmt_blank .3s linear 5;
    background-color: #e4f7ee;
    border-color: #9cccb5;
    border-left: 5px solid #9cccb5;
    padding-left: 3px
}

@-webkit-keyframes cmt_blank {
    0% {
        background-color: #f8f8f8;
        color: #000
    }
    66% {
        background-color: #d9b4b4;
        color: #000
    }
    100% {
        background-color: #f8f8f8;
        color: #000
    }
}

.icomment .cmt .vote {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 32px
}

.icomment .cmt .vote i {
    height: 18px;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease;
    user-select: none;
    border-radius: 2px;
    padding: 2px 5px;
    margin-left: 5px
}

.icomment .cmt .vote i span {
    display: inline-block;
    padding: 2px 5px;
    vertical-align: top
}

.icomment .cmt .vote i svg {
    display: inline-block
}

.icomment .cmt .vote i.cnt {
    padding: 0 3px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 10pt;
    line-height: 130%
}

.icomment .cmt .vote i span.txt {
    padding: 0;
    margin: 0 0 0 2px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 9pt;
    line-height: 130%
}

.icomment .cmt .vote i.reply .txt {
    padding: 1px 1px 0
}

#mo .icomment .cmt .vote .txt {
    display: none
}

#mo .icomment .date {
    display: none
}

.icomment .cmt .vote i.modify {
    background-color: rgba(0, 0, 0, .05);
    padding: 2px 5px 1px
}

.icomment .cmt .vote i.modify:hover {
    background-color: rgba(0, 0, 0, .2)
}

.icomment .cmt .vote i.delete {
    background-color: rgba(0, 0, 0, .05);
    padding: 2px 5px 1px
}

.icomment .cmt .vote i.delete:hover {
    background-color: rgba(0, 0, 0, .2)
}

.icomment .cmt .vote i.reply {
    background-color: rgba(0, 0, 0, .4);
    color: #fff
}

.icomment .cmt .vote i.reply:hover {
    background-color: rgba(0, 0, 0, .2)
}

.icomment .cmt .vote i.alert svg {
    stroke: #c2322d;
    transition: all 200ms ease
}

.icomment .cmt .vote i.alert:hover svg {
    stroke: #fff
}

.icomment .cmt .vote i.alert {
    color: #c2322d;
    background-color: rgba(194, 50, 45, .1);
    border-radius: 4px;
    transition: all 200ms ease
}

.icomment .cmt .vote i.alert:hover {
    color: #fff;
    background-color: #c2322d
}

.icomment .cmt .vote i.up {
    background-color: rgba(204, 102, 102, .2);
    color: #c66
}

.icomment .cmt .vote i.up:hover {
    background-color: rgba(204, 102, 102, .4)
}

.icomment .cmt .vote i.down {
    background-color: rgba(102, 102, 204, .2);
    color: #66c
}

.icomment .cmt .vote i.down:hover {
    background-color: rgba(102, 102, 204, .4)
}

.icomment .cmt .vote i.direct {
    background-color: rgba(82, 92, 108, .3);
    color: #000
}

.icomment .cmt .vote i.direct:hover {
    background-color: rgba(82, 92, 108, .5)
}

.icomment .cmt .content {
    padding: 6px 0 0 3px;
    line-height: 155%
}

.icomment .cmt .delcmt {
    color: #9c9c9c;
    text-decoration: line-through
}

.icomment .cmt .nocmt {
    font-weight: 700;
    font-size: 12pt;
    padding: 20px 0;
    text-align: center
}

.icomment .cmt .cmtloading {
    padding: 7px 0;
    text-align: center
}

.icomment .cmt .cmtloading p {
    line-height: 180%
}

.icomment .cmt .lay {
}

.icomment .cmt .lay .lv {
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    min-width: 15px;
    border-radius: 4px;
    margin-right: 3px;
    vertical-align: bottom;
    font-size: 9pt;
    line-height: 100%;
    padding: 1px 2px
}

.icomment .cmt .lay .nick {
    font-weight: 700;
    font-size: 11pt;
    cursor: pointer
}

.icomment .cmt .lay .sir {
    font-size: 10pt
}

.icomment .cmt .lay .date {
    margin-left: 2px;
    color: #aaa;
    font-size: 9pt
}

.icomment .cmt .lay .ip {
    margin-left: 2px;
    color: #aaa;
    font-size: 9pt
}

.icomment .cmt .lay .ago {
    color: #aaa;
    font-size: 9pt
}

#n_comment {
    padding: 10px 0;
    height: 17px;
    animation-name: n_comment;
    animation-duration: .4s;
    overflow: hidden;
    text-align: center;
    position: relative;
    list-style: none;
    font-family: noto sans kr;
    font-weight: 300;
    font-size: 10pt;
    background-color: #c4676a;
    border: 1px solid #963236;
    color: #fff;
    margin: 0 0 3px;
    cursor: pointer
}

@keyframes n_comment {
    0% {
        height: 0;
        padding: 0
    }
    100% {
        height: 17px;
        padding: 10px 0
    }
}

#memberLayer {
    position: absolute;
    top: 24px;
    left: 7px;
    border: 5px solid rgba(79, 138, 224, .5);
    background-color: #fff;
    width: 200px;
    z-index: 10
}

#memberLayer .icon {
    text-align: center
}

#memberLayer .icon .backg {
    margin: 10px 0;
    background-color: rgba(159, 172, 185, .1);
    border-radius: 50%;
    width: 128px;
    height: 128px
}

#memberLayer .btn.disable {
    text-decoration: line-through;
    color: #b7b7b7
}

#memberLayer .btn {
    text-align: left;
    display: block;
    line-height: 100%;
    padding: 5px 0 5px 7px
}

#memberLayer .btn:hover {
    background-color: #f2f2f2
}

#memberLayer span {
    width: 200px;
    display: inline-block;
    padding: 3px 0;
    text-align: center
}

#memberLayer span.nick {
    padding: 7px 0;
    background-color: rgba(159, 172, 185, .1);
    font-size: 14pt
}

#memberLayer .gb {
    text-align: center;
    padding: 5px 0;
    background-color: rgba(159, 172, 185, .4)
}

#memberLayer .gdbb span {
    width: 100px;
    padding: 5px 0
}

#memberLayer .gdbb span.good {
    background-color: rgba(204, 102, 102, .2);
    color: #c66
}

#memberLayer .gdbb span.bad {
    background-color: rgba(102, 102, 204, .2);
    color: #66c
}