{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>맛자랑</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style-db8ba5b9e5.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>


<body>

<div class="Logo">
    <a href="http://djangoyoon3.herokuapp.com/"><img class="Mainpic" src="/static/img/logo.jpg"></a>
</div>
<div class="Category">
    <div class="HotList">
        <a class="Hottxt" href="http://matjarang.herokuapp.com/HotList/">실시간인기글</a>
        <a href="http://djangoyoon3.herokuapp.com/HoobangList/"><img class="Hotpic" src="/static/img/hoobang.png"></a>
    </div>
</div>

<div class="cafe_popular">
    실시간 Top 10
    <a style="padding-right: 20px; color: Mediumslateblue; float: right;" href="/HotList"> <i
            class="fa fa-plus"></i></a>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>제목</th>
        <th>출처</th>
    </tr>
    </thead>
    <tbody>
    {% for HotList in HotLists %}
        <tr>
            <td><a href={{ HotList.link }}>
                {{ HotList.title }}</a></td>
            <td>{{ HotList.source }}</td>
        </tr>

    {% endfor %}
    </tbody>

</table>
<!--<a class="btn btn-default pull_right">글쓰기</a>-->


<div class="cafe_popular">
    실시간 Top 10
    <a style="padding-right: 20px; color: Mediumslateblue; float: right;" href="/HotList"> <i
            class="fa fa-plus"></i></a>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>제목</th>
        <th>출처</th>
    </tr>
    </thead>
    <tbody>
    {% for HoobangList in HoobangLists %}
        <tr>
            <td><a href={{ HoobangList.link }}>
                {{ HoobangList.title }}</a></td>
            <td>{{ HoobangList.source }}</td>
        </tr>

    {% endfor %}
    </tbody>

</table>
<!--<a class="btn btn-default pull_right">글쓰기</a>-->
</body>


</body>